.flex {
  display: flex;
  &-a-center {
    align-items: center;
  }
  &-a-end {
    align-items: flex-end;
  }
  &-a-start {
    align-items: flex-start;
  }
  &-j-center {
    justify-content: center;
  }
  &-j-end {
    justify-content: flex-end;
  }
  &-j-start {
    justify-content: flex-start;
  }
  &-column {
    flex-direction: column;
  }
}